* {
    margin: 0;
    padding: 0;
}

hr{
    color: var(--border-color);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

:root{
    --main-color: #18991e;
    --button-color: #2dc737;
    --text-color: #999891;
    --border-color: #a8a8a8;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
    background-color: #f4f0e8;
}

/* header */
header{
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 50px;
}

.header--logo{
    width: 30%;
}

.header--logo-img{
    width: 75px;
    height: 75px;
}


.header--logo-name{
    font-size: 18px;
}

.header--logo-slogan{
   font-size: 9px;
   color: var(--text-color);
}

.header--contact{
    text-align: right;
    width: 100%;
    
}

.header--contact-text{
    font-size: 12px;
    color: var(--text-color);
}

.header--contact-phone a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.header--contact-phone span{
    color: var(--main-color);
}

.header--contact-phone a:hover{
    color: var(--main-color);
}


.header--page-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header--page-list li{
    margin-left: 20px;
    margin-top: 20px;
}

.header--page-list li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    color: var(--main-color);
    font-weight: 600;
}

.header--page-list .button-home{
    color: #fff ;
    background-color: var(--button-color);
}

.header--page-list li a:hover{
    color: #fff ;
    background-color: var(--button-color);
}
/* ------------------------------------------- */
.header--nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--button-color);
    border-radius: 10px;
    margin-top: 20px;
    padding: 0;
}

.header--nav li{
    /* margin-left: 20px; */
    font-weight: 600;
}

.header--nav a{
    text-decoration: none;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    padding: 0 20px;
}

.header--nav li:hover{
    background-color: #ebe1d1;
    color: #18991e;  
}

.header--nav li:hover a{
    color: #18991e;  
}

/* section  */
section{
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 50px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
}

.section--content{
    /* display: flex; */
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section--content .content-banner{
    display: flex;
    
}

.content-banner .banner-img{
    width: 70%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.content-banner .banner-text{
    width: 30%;
    padding-left: 50px;
    background-color: #271c12;
    border-radius: 0 10px 10px 0;
    padding: 30px 30px;
}

.content-banner .banner-maintext{
    font-size: 24px;
    color: #fff;
    padding-top: 30px;
}

.content-banner .banner-maintext-span{
    color: var(--main-color);
    font-size: 30px;
}

.content-banner .banner-subtext{
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    line-height: 24px;
}

.content-banner a{
    color: #1814ff;
    font-size: 14px;
    text-decoration: none;
}

.content-banner .banner-button-img{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.content-banner .banner-button-img li{
    margin: 0 12px;
}

.content-banner .banner-button-img li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    width: 21px!important;
    height: 21px!important;
    line-height: 21px!important;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    background-color: #6d6859;
    border: 1px solid #37342e;
    display: block;
}

.content-infor{
    display: flex;
    position: relative;
}

.content-infor .infor-header{
    padding-top: 20px;
    font-size: 30px;
}

.infor-header span{
    color: var(--main-color);
}

.infor-text .infor-subtext{
    font-size: 14px;
    color: var(--text-color);
    margin-top: 10px;
    line-height: 24px;
}

.content-infor .infor-text{
    width: 60%;
    font-size: 10px;
}

.content-infor a{
    color: var(--main-color);
}

.content-infor img{
    position: absolute;
    left: 50%;
    bottom: -47px;
    z-index: 1000;
}

.section--content .content-sortbar{
    width: 100%;
    margin-top: 20px;
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section--content .content-sortbar a{
    text-align: center;
    padding: 10px 0;
    width: 33.33%;
    text-decoration: none;
    color: var(--text-color);
}


.content-sortbar a:first-child{
    background-color: var(--button-color);
    border-radius: 10px 0 0 10px;
    color: #fff;
}

.content-sortbar a:nth-child(2){
    border-left: var(--border-color) 1px solid;
    border-right: var(--border-color) 1px solid;
}

.content-sortbar a:hover{
    background-color: var(--button-color);
    color: #fff;
}

.section--content .post-content{
    width: 100%;
    margin-top: 20px;
}

.post-content .post-content-box{
    padding: 20px 40px;
    vertical-align: top;
}

.post-content img{
    width: 96%;
    /* height: 135px; */
    border-radius: 10px;
    border: 4px solid var(--border-color);
}

.post-content .post-header {
    padding: 10px 0;
}

.post-content .header-special,
.post-content .post-header:hover{
    color: var(--main-color);
}

.post-content .post-text{
    font-size: 14px;
    color: var(--text-color);
    line-height: 24px;
}



/* ------sidebar---------- */
.section--sidebar{
    width: 25%;
    background-color: #f3f2ec;
}

.section--sidebar .sidebar-holiday-search{
    padding: 20px;
}

.section--sidebar .holiday-search-h1{
    font-size: 18px;
}

.section--sidebar .holiday-search-text{
    font-size: 15px;
    color: #585755;
    margin-top: 10px;
}

.section--sidebar .holiday-search-form{
    margin-top: 20px;
}

.section--sidebar .input-combobox{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 10px;
}

.section--sidebar .holiday-search-button{
    padding: 14px;
    margin-top: 20px;
    background-color: var(--button-color);
    text-align: center;
    border-radius: 10px ;
}

.section--sidebar .button-search{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    color: #fff;
    font-weight: 600;
}

.button-search .icon{
    padding-left: 10%;
}

.button-search a::after{
    /* ??? chưa biết css như nào cho nó ra hình thoi  */
}

.section--sidebar .Sidebar-Quick-Search {
    padding: 20px;
    border-top-color: #a6a59d;
    border-bottom-color: #a6a59d;

}

.section--sidebar .Quick-Search-h1 {
    font-size: 18px;
}

.section--sidebar .Quick-Search-sub-content {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
}

.section--sidebar #search-box-button {
    padding: 6px;
    /* margin-top: 20px; */
    margin-left: 20px;
    background-color: var(--button-color);
    text-align: center;
    border-radius: 5px;
    border: 1px solid #18991e;
    color: #fff;
    font-weight: 600;
}

.Quick-Search-Box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section--sidebar #Search-text {
    width: 50%;
    height: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: #585755;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*-----------------------SignUp-------------------------*/
.section--sidebar .Sidebar-Newsletter-SignUp {
    padding: 20px;
    border-top-color: #a6a59d;
    border-bottom-color: #a6a59d;
}

.section--sidebar .Newsletter-SignUp-h1 {
    font-size: 18px;
}

.section--sidebar .Newsletter-SignUp-sub-content {
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
}

.section--sidebar #SignUp-text {
    width: calc(100% - 10px) ;
    height: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: #585755;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.section--sidebar #SignUpName-text {
    width: 60%;
    height: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.section--sidebar #SignUp-box-button {
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: var(--button-color);
    text-align: center;
    border-radius: 5px;
    border: 1px solid #18991e;
    color: #fff;
    font-weight: 600;
}

.SignUp-Email-Box div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*-------------------------------Latest News-----------------------*/
.section--sidebar .Sidebar-Latest-News {
    padding: 20px;
    border-top-color: #a6a59d;
    border-bottom-color: #a6a59d;
}

.section--sidebar .Latest-News-h1 {
    font-size: 18px;
}

.Latest-News-A {
    list-style: none;
    text-decoration: none;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    margin-top: 5px;
}

.Title-text a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    margin-top: 10px;
}

.Latest-News-A .Title-text {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}

.Latest-News-A .Title-text::before {
    text-decoration: none;
    color: #000;
}

.Latest-News-A  a:hover {
    color: var(--main-color);
}
.A-Content {
    color:var(--text-color);
    font-size: 15px;
    line-height: 1.6;
}

.Title-text .title-text-special{
    color: var(--main-color);
}

/* -------------footer --------------- */
footer{
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 50px;
    
}

footer .footer--header{
    background-color: var(--text-color);
    padding: 18px;
    text-align: center;
    /* width: 100%; */
    border-radius: 10px 10px 0 0;
}

footer .footer--header p{
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

footer .footer--content {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.footer--content .content-contact{
    width: 25%;
}

.content-contact p{
    width: 90%;
    color: var(--text-color);
}

.content-contact .button-contact{
    background-color: var(--text-color);
    text-align: center;
    border-radius: 10px ;
    padding: 6px;
    margin-top: 20px;
    border: 4px solid #d5cccc;
    color: #fff;
    font-weight: 600;
    width: 80%;
}

.button-contact .contact-text{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    color: #fff;
    font-weight: 600;
    line-height: 100%;
}

.button-contact .contact-icon{
    padding-left: 16px;
    border-left: var(--border-color) 1px solid;
    line-height: 100%;
}

.footer--content h2{
    font-size: 20px;
    padding-bottom: 10px;
    color: #6d6d66;
}

.footer--content .link-contact{
    list-style: none;
    width: 50%;
    padding-left: 30px;
    border-left: var(--border-color) 1px solid;
    border-right: var(--border-color) 1px solid;
    padding-right: 20px;
}

.footer--content .infor-contact{
    width: 25%;
    margin-left: 20px;
}

.link-contact .link-col{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;;
}

.link-col ul{
    padding-right: 10px;
    list-style: none;
    /* margin-right: 120px; */
}

.link-col ul li{
    margin-top: 5px;
}

.link-col ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
}


.infor-contact a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
}

.infor-contact p{
    font-size: 15px;
    color: var(--text-color);
}

.infor-contact p:last-child{
    padding-top: 20px;
    width: 50%;
}

.footer-copyright {
    padding: 40px 0;
    text-align: center;
}

.footer-copyright p:first-child{
    /* color: var(--text-color); */
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-copyright p:last-child{
    color: var(--text-color);
}

